<template>
  <table>
    <thead>
      <tr>
        <td />
        <td v-for="product in products" :key="product.id">
          <img src="https://loremflickr.com/140/80?" />
          <div>
            <div class="title">
              {{product.title}}
            </div>
            <div class="cost">
              {{product.cost_full}}
              <span>₽</span>
            </div>
          </div>
        </td>
      </tr>
    </thead>

    <tbody v-for="charcat in charcats" :key="charcat.id">
      <tr class="category">
        <td :colspan="products.length + 1">
          <span>{{charcat.name}}</span>
          </td>
      </tr>

      <tr v-for="cat in charcat.cats" :key="cat.id">
        <td>{{cat.name}}</td>

        <td class="product-name" v-for="product in products" :key="product.id">
          <div v-for="prop in product.props" :key="prop.id">
            <span v-if="prop.prop_id == cat.prop_id" >{{prop.value}}</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import data from '../data.json';

export default {
  name: 'Goods',
  data() {
    return {
      data: data,
      charcats: data.charcats,
      groups: data.groups,
      products: data.products
    };
  },

  mounted() {
    console.log(this.data),
    Object.values(this.charcats).forEach(charcat => {
      charcat.cats = []
      let ids = []
      this.products.forEach(product => {
        Object.values(product.props).forEach(prop => {
          if (charcat.id == prop.cat_id) {

            if (charcat.cats.length == 0) {
              charcat.cats.push(prop)
              ids.push(prop.prop_id)
              console.log('i added a first element ' + ids)
            } else if (this.idCompare(ids, prop) != false) {
              charcat.cats.push(prop)
              ids.push(prop.prop_id)
              console.log('i added a new element ' + ids)
            }

          }
        });
      });
    });
    console.log(this.charcats)
  },

  methods: {
    idCompare(ids, prop) {
      let clear = true
      ids.forEach(id => {
        if (id == prop.prop_id) {
          console.log('found duplicate ' + id)
          clear = false
        }
      })
      if (clear) {
      console.log(prop.prop_id + ' clear of duplicates')
      }
      return clear
    }
  }
}
</script>

<style scoped>
  table {
    border-spacing: 0;
    border-collapse: collapse;
    background-color: white;
  }

  thead {
    vertical-align: top;
    background-color: white;
    top: 0;
    position: sticky;
    z-index: 100;
  }

  thead td {
    height: 200px;
  }

  td {
    border: 1px solid #E7E7E7;
    margin: 0;
    padding: 10px;
  }

  .category {
    background-color: #F8F8F8;
    text-align: left;
  }

  .category td {  
    padding:20px;
  }

  .category td span{
    font-weight: 600;
    position: sticky;
    left: 40px;
    top: 200px;
  }

  td.product-name {
    border-left: 0;
    border-right: 0;
  }

  td.product-name:last-of-type {
    border-right: 1px solid #E7E7E7;
  }

  img {
    margin: 5px;
  }

  .title {
    text-align: left;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
  }

  .cost {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: bold;
    padding-left: 5px;
  }
</style>