<template>
  <img alt="Vue logo" src="./assets/logo.png">
  <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
  <div class="table">
    <Goods />
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
import Goods from './components/Goods.vue'

export default {
  name: 'App',
  components: {
    Goods
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

body {
   background-color: #EDEDED;
}
</style>
